<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TEAM1_HCI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm box-shadow mb-3">
            <div class="container">
                <a class="home-icon" asp-area="" asp-page="/Index"><i class="fa-solid fa-house" style="color: #000000; margin: 0px 20px 0px 0px;"></i></a>
                <i class="fa-solid fa-ellipsis-vertical" style="color: #000000;"></i>
                <img src="icons/ETSU.png" style="margin: 0px 0px 0px 20px;">

                <button class="nav-link text-dark" asp-area="" onclick="openCourseSidebar()" style="margin: 0px 0px 0px 600px; border: none; background: white;">Courses</button>
                <button class="nav-link text-dark" asp-area="" onclick="openInstructorSidebar()" style="border: none; background: white;">Instructors<i class="fa-solid fa-person-chalkboard" style="color: #000000;"></i></button>
                <a class="nav-link text-dark" asp-area="" asp-page="/Help"><i class="fa-solid fa-clipboard-question" style="color: #000000;"></i>Help</a>
            </div>
        </nav>
        <div class="navbar navbar-expand-sm mb-3" style=" background-color: #F8F8F8; height: 50px;">
            <i class="fa-solid fa-magnifying-glass" style="color: #000000; margin: 0px 0px 0px 1100px;"></i>
            <input class="searchbar" type="text" style="background-color: #f3eeff" />
        </div>
    </header>

    <div id="courseSidebar" class="sidebar" style="visibility: visible;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeCourseSidebar()">&times;</a>
        <a href="#">CSCI 5200</a>
        <a href="#">CSCI 5230</a>
        <a href="#">CSCI 4967</a>
    </div>

    <div id="instructorSidebar" class="sidebar" style="visibility: hidden;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeInstructorSidebar()">&times;</a>
        <a href="#">Tahsin Rezwana</a>
        <a href="#">Jeff Roach</a>
        <a href="#">Phil Pfeiffer</a>
    </div>

    <div id="mainContent" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted footer">
        <div class="text-center">
            2023 Copyright. All rights reserved. 
            <div class="float-end me-5">
                <i class="fa-brands fa-facebook-f"></i> <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-square-instagram"></i>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>