

Team1Prototype/Team1Prototype/obj/Debug/net6.0/Team1Prototype.assets.cache
Team1Prototype/Team1Prototype/obj/Debug/net6.0/project.razor.vscode.json
Team1Prototype/Team1Prototype/obj/Debug/net6.0/Team1Prototype.GeneratedMSBuildEditorConfig.editorconfig
.vscode/launch.json
.vscode/tasks.json
