@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row center">
    <div class="col-sm-6">
        <div class="hometext">
            <h1 class="home"> Plan for the future and live your life now!</h1>
        </div>
        <br />
        <br />
        <button class="button">More info...</button>
    </div>
    <div class="col-sm-6" style="margin-top: -105px; margin-left: -270px;">
        <img src="~/lib/student3 1.png" alt="Image of Student" />
    </div>
</div>

<div class="container center" style="margin-top: -75px;">
    <div class="icons2">
        <img src="~/lib/peopleicon.png" alt="People Icon" />
        <div class="grayboxleft text-left">
            <p>International and local student can take courses online or offline.</p>
            <a href="https://localhost:7096/">Read more...</a>
        </div>
    </div>
    <div class="icons2">
        <img src="~/lib/Vector.png" alt="Pencil icon" height="47px" />
        <div class="grayboxleft">
            <p>Learn from our great instructors.</p>
            <a href="https://localhost:7096/">Read more...</a>
        </div>
    </div>
    <div class="icons2">
        <img src="~/lib/_Group_.png" alt="Carrot icon" height="47px" />
        <div class="grayboxleft">
            <p>Explore our learning environment.</p>
            <a href="https://localhost:7096/">View details...</a>
        </div>
    </div>
</div>