@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hometext">
    <h1 class="home"> Plan for the future and live your life now!</h1>
</div>
    




<button class="button">More info...</button>
<img src="~/student3 1.png" alt="Image of Student" />

<p></p>



<div class="container">
  <div class="icons2">
    
        <img src="~/peopleicon.png" alt="People Icon" />
 
    <div class="grayboxleft">
        <p>International and local student can take courses online or offline.</p>

            <a href="https://localhost:7096/">Read more...</a>
    </div>
</div>

<div class="icons2">

    <img src="~/Vector.png" alt="Pencil icon" height="47px" />

    <div class="grayboxleft">
        <p>Learn from our great instructors.</p>

        <p> </p>

            <a href="https://localhost:7096/">Read more...</a>
    </div>
</div>
<div class="icons2">

    <img src="~/_Group_.png" alt="Carrot icon" height="47px" />

    <div class="grayboxleft">
        <p>Explore our learning environment.</p>

            <a href="https://localhost:7096/">View details...</a>
    </div>
   </div>

</div>


